
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.weather-container {

    padding: 30px;
    /*background-color: blue;*/
    backgroud-image: linear-gradient(to right, azure, aquamarine);
}

#weather-city {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 5.5vw;
    background-color: beige
}

.weather-temp-f {
    text-align:center;
    font-family: 'Slabo 27px', serif;
    font-size: 15vw;
    background-color: azure
}

.weather-temp-c {

    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 7.5vw;
    background-color: aquamarine;

}
